#home-form {
  // border: 1px solid #dddddd;
  padding: 0px;

  .tab-content {
    border: 1px solid $purple;

    .field {
      height: 44px;
      width: 100%;

      border-bottom: 1px solid $purple;

      * {
        border: 0px;
        border-radius: 0px;
        background-color: white;
      }

      // margin-top: 5px;

      &.solid {
        * {
          background-color: $purple;
          color: white;

        }
        border-bottom: 1px solid white;
      }

      label {
        font-weight: normal;
      }
    }
  }
}
